//vars de colores
$color-fondo: #DEB6AB;
$color-footer: #815B5B;
$color-bienvenida: #F5EBE0;
$otro-color: #749f82;
$dato-importante: #B73E3E;
$color-boton: #FF9F9F;
$color-redes: #E26868;

//fuente
$font-h1: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-p: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-footer: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;